.woocommerce-checkout .ui-datepicker {font-family: inherit;width: auto;}
.ui-datepicker select:hover {color: #000;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{width: 30px;height: 30px;top: 0;cursor: pointer;}
.ui-datepicker .ui-datepicker-next{right: 10px;top:-2px;}
.ui-datepicker .ui-datepicker-prev {left: 10px;transform: rotate(180deg);top: 12px;}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {background: none;box-shadow: none;outline: 0;border: none;font-weight: inherit;}
.ui-datepicker .ui-datepicker-title {display: flex;flex-wrap: nowrap;margin: 0 !important;padding: 0px 40px;justify-content: space-between;}
.ui-datepicker .ui-datepicker-header select.ui-datepicker-month, .ui-datepicker .ui-datepicker-header select.ui-datepicker-year {max-width: 49%;min-width: 49%;width: 100%;}
.ui-datepicker .ui-datepicker-calendar {border-collapse: collapse;}
.ui-datepicker .ui-datepicker-calendar thead tr, .ui-datepicker-header.ui-widget-header {background: #DEDEDE;border: none;border-radius: 0;}
.ui-datepicker .ui-datepicker-calendar tr th {font-weight: 700;background-color: #e0e0e0;font-size: 18px;}
.ui-datepicker .ui-datepicker-calendar tr td {font-size: 16px;padding: 0px;text-align: center;}
.ui-datepicker .ui-datepicker-calendar tr td .ui-state-default:not(.ui-state-disabled):hover {background-color: #000;opacity: 0.6;color: #fff;}
.ui-state-default.ui-state-highlight {color: #000;font-weight: 700;}
.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border: none;background: transparent;text-align: center;height: 40px;width: 40px;border-radius: 50%;padding: 0px;display: inline-block;line-height: 40px;}
.dslpfw-selected a.ui-state-default, .dslpfw-selected .ui-state-default.ui-state-highlight, .ui-widget-content .ui-state-default.ui-state-active{color: #fff;background: #000;}
.ui-widget-header .ui-icon {background-image: url(../images/icons/datepicker-next.svg);background-position: 0;background-size: 30px;width: 30px;height: 30px;}
.ui-datepicker .ui-datepicker-title select{font-size: 14px;padding: 5px;}
.pickup-location-calendar .dslpfw-pickup-location-appointment-date{padding-right: 40px;width: 100%;}
.pickup-location-calendar .ui-datepicker-trigger{position: absolute;width: 25px;height: 25px;cursor: pointer;font-size: 0;right: 15px;top: 26%;background-color: transparent !important;border: 0;outline: 0;box-shadow: none;}
.pickup-location-calendar .ui-datepicker-trigger::before{content: '';position: absolute;top: 0;right: 0;background-image: url(../images/icons/datepicker-calender-icon.svg);background-position: 0;background-size: 25px;width: 25px;height: 25px;}
.ui-widget-content .ui-datepicker-today .ui-state-default{font-weight: 700;}

/* Customer Support CSS */
.woocommerce-checkout ul#shipping_method li{display:block;}
.no-touch .ui-datepicker a:not(.ui-state-active):hover {background: unset;}
.woocommerce-checkout .ui-datepicker-prev:before, .ui-datepicker-next:before{content:'';}